body {
  margin: 0;
  margin-top: 76px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Special Elite', cursive;
}

.navbar {
  box-shadow: 0 0 4px gainsboro;
}

/* Carousel/ Slider CSS */

.home-slider {
  height: 60vmin;
  position: relative;
  background-color: #23ADC1;
}
.home-slider img {
  position: absolute;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
}

@media screen and (min-width: 976px) {
  .home-slider {
    height: 80vmin;
  }
  .blogs {
    width: 80%;
  }
  .contact {
    width: 65%;
  }
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
}
.submit > * {
  width: 50%;
}

/* Cards CSS */
/* .blogs > * {
  padding: 5vh;
} */

/* .blogs {
  padding: 0 10vw;
} */

.light-bg {
  background-color: gainsboro;
}

.heading h3 {
  text-align: center;
  font-size: calc(24px + (40 - 24) * (100vw - 360px)/(1920 - 360));
}
.heading p {
  text-align: center;
  font-size: calc(20px + (24 - 20) * (100vw - 360px)/(1920 - 360));
}
hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/* Accordion CSS */
.btn:focus {
  box-shadow: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.social > * {
  font-size: 2em;
  margin: 2px 5px;
}